<!DOCTYPE html>
<html>
  <head>
    <title>Text Saver</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div class="login-page">
        <h1>
          <span class="color1">T</span>
          <span class="color2">e</span>
          <span class="color3">x</span>
          <span class="color4">t</span>
          <span class="color5"> </span>
          <span class="color6">S</span>
          <span class="color7">a</span>
          <span class="color8">v</span>
          <span class="color9">e</span>
          <span class="color10">r</span>
      </h1>
        <p class="page-explanation">Save some text and access it later. Whenever you need, from any device.</p>
        <form class="login-form" action="/log-in" method="POST">
          <label for="username">Username</label>
          <input name="username" placeholder="your username" type="text" />
          <label for="password">Password</label>
          <input name="password" placeholder="your password" type="password" />
          <button>Log In</button>
        </form>
        <a href="/sign-up">I don't have an account</a>
      </div>
  </body>
</html>