.entries-page{
    margin: 2vw
}

.entries-page header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.user-tab{
    font-family: 'Open sans light';
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    position: relative;
}

.user-tab-user{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user-tab-user img{
    height: 2rem;
    width: 2rem;
}

.user-tab a{
    margin-top: 4px;
    font-size: .8rem;
    position: absolute;
    top: 100%;
}

#page-top-form-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}

.entry-form{
    width: 100%;
}

textarea {
    overflow: hidden;
  }


form label{
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-family: 'Open sans light', Arial, sans-serif ;
}

.entry-textarea,
.entry-titleinput{
    font-size: 1rem;
    font-family: 'Bitter','Open sans light', Arial, sans-serif;
}

.titleinput-label span{
    font-size: .8rem;
    margin-left: 10px;
}

.user-entries-section{
    margin-top: 40px;
    width: 100%;
}

.user-entries-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 16px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    
}

#sort-entries-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px 6px 12px;
    margin-bottom: -6px;
}

#sort-types-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
}

.current-sort-type{
    text-decoration: underline;

}

.sort-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 2px;
}

.sort-arrow.active{
    background-color: #222;
}



#entries-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5px;
    background-color: grey;
}

.entry{
    background-color: #333 ;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-family: 'Bitter', sans-serif;
}


.entry-head{
    padding: 10px 5px;
    background-color: #333 ;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.entry-head h3{
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; 
}


.expanded-entry .entry-head{
    background-color:#222;
    cursor: pointer;
}


.document-icon{
    height: 40px;
    margin-right: 7vw;
}

.options-icon-container{
    padding: 10px 10px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-options{
    height: 20px;
    margin: 0;
}


.entry-date{
    margin-left: auto;
    font-family: 'Open sans light',  sans-serif;
}

.entry-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}

.entry-view button{
    margin-top: 10px;
}

.entry-content{
    width: 100%;
    min-height: 5rem;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: 'Open sans light', 'Arial Narrow', Arial, sans-serif;
    white-space: pre-wrap;  /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    text-wrap: wrap;
}

.entry-content h1{
    font-family: 'Open sans light', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
}

@media (max-width: 768px) {
    .entry-date {
        display: none;
    }

    .options-icon-container{
        margin-left: auto;
        margin-right: 0px;
    }

    .entry{
        background-color: #333 ;
    }
}

@media (hover: hover) {
    #sort-types-menu:hover,
    .sort-arrow:hover{
        background-color: #222;
    }

    .entry-head:hover{
        background-color: #222;
        cursor: pointer;
    }

    .options-icon-container:hover{
        background-color:  #333
    }
}